.bk-btn {
    background: #00f5ab !important;
    border-color: #00b17c !important;
    padding: 0px !important;
    line-height: 1.0 !important;
}

.bk-btn.bk-active {
    background: #00b17c !important;
    border-color: #00b17c !important;
}
